/* audio style */
.sound-play {
    display: none;
}

.panel {
  display: inline-block;
}

.icon {
	padding: 3px;
	padding-right: 3px;
}

.fs-6 {
	margin-bottom: 0rem;
}

.btn-danger {
    background-color: rgba(238, 189, 164, 0.4);
    border-color: rgba(238, 189, 164, 0.2);
    color: #636163;
    font-weight: bold;
}

.btn-danger:hover,
.btn-outline-danger:hover {
    background-color: #CF3E45;
    border-color: #CF3E45;
    color: #FFFFFF;
}

.btn-outline-danger {
    background-color: #FAF7F7;
    border-color: #FAF7F7;
}

.btn-twitter {
    background-color: #00ACEE;
    border-color: #00ACEE;
    color: #00ACEE;
    font-weight: bold;
}

.btn-twitter:hover,
.btn-outline-twitter:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #00ACEE;
}

.btn-outline-twitter {
    background-color: #FAF7F7;
    border-color: #FAF7F7;
}