/* Button block background */
.background {
    padding:10px;
    margin-bottom:5px;
	margin-top:15px;
}

/* audio style */
.sound-play {
    display: none;
}

/* button style */
.voiceButton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
    margin: 20px;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

.voiceButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

.voiceButton:active {
	position:relative;
	top:1px;
}

.btn-secondary {
    background-color: #25B7D3 !important;
}

.panel {
  display: inline-block;
}
