/* Button block background */
.background {
    padding:10px;
    margin-bottom:5px;
	margin-top:15px;
}

/* audio style */
.sound-play {
    display: none;
}

.panel {
  display: inline-block;
}

.cursor-pointer {
	cursor: pointer;
}

.icon {
	padding: 3px;
	padding-right: 3px;
}

.audio-play-icon {
	color: rgba(90, 82, 88, 0.76);
}

.audio-play-icon:hover {
	color: dimgrey;
}

.youtube-icon {
	color: brown;
}

.youtube-icon:hover {
	color: crimson;
}

.fs-6 {
	margin-bottom: 0rem;
}